@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --2p: 2px;
    --5p: 5px;
    --15p: 15px;
    --10p: 30px;
    --side-padding: 8rem;
}

html {
    background-image: url('../img/cool-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: 'montserrat', sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0 var(--15p);
    color: #fff;
}

a:hover>div,
.mail-logo:hover,
.faceb:hover,
.inst:hover {
    color: orange;
    height: 1.2rem;
    font-size: 1.2rem;
    transition: font-size 100ms;
}

.navbar {
    --_bg: #09073338;
    --_blur: blur(8px);
    --_nav-bar-padding: .3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--_nav-bar-padding) 5rem;
    width: 100%;
    background: var(--_bg);

    position: fixed;
    top: 0;

}

.navbar {
    transition: 300ms;
}

.navbar.sticking {
    --_bg: #2c2c2eec;
    box-shadow: 3px 3px 6px 0 rgba(3, 3, 3, 0.212) !important;

    /* --_nav-bar-padding: 0.2rem; */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 900;
    height: 100%;
}

.logo-image img {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-right: var(--15p); */
}

.navigators {
    display: flex;
    padding: 1px;
}




.home {}

.sobre {}

.containar {}

.input-containar-1,
.input-containar-2,
.input-containar-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.input-containar-2,
.input-containar-3 {
    margin: var(--10p) 0;
}

.input-containar-1 {
    background-image: url('../img/capa2.png');
    height: 60vh;

}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text>h1 {
    font-size: 3rem;
}

.header-text>span {
    font-size: 2rem;
}

.solucao {
    display: flex;
    width: 100%;
    height: 60vh;
    padding: var(--10p) 5rem;
}

.solucao>.img-container {
    width: 100%;
    height: 100%;
    background-image: url(../img/energia-solar-e-eolica.jpg);
}

.solucao-text {
    height: 100%;
    width: 100%;
    background: #000000b0;
    padding: 2rem 1rem;
    overflow: hidden;
}

.solucao-text>h2 {
    margin-bottom: 1rem;
}

.solucao-text>p {
    font-size: 1.2rem;
}

.input-containar-2 {
    background-image: url('../img/Energia-solar-1.jpg');
}

.input-containar-3 {
    background-image: url('../img/equipi-solar.jpg');
}

.image-cards-containar {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: var(--10p) var(--side-padding);
}

.image-card-1,
.image-card-2,
.image-card-3 {
    margin: var(--5p);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
}

.image-card-1 {
    background-image: url(../img/solar-ajusar.jpg);

}

.image-card-2 {
    background-image: url(../img/controlador.webp);

}

.image-card-3 {
    background-image: url(../img/geracao-energia-eolica-bg.webp);

}

.image-cover-of-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-cover {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
}

.image-cover:hover>.img-text {
    height: 100%;
}


.img-text {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    padding: 1.5rem 1rem 4rem 1rem;
    background: #0000008a;
}

.img-text,
.img-text>span {
    transition: 500ms;
}

.img-text>h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.img-text>p {
    font-size: 1.2rem;
    color: #c5c5c5;

}

.img-text>span {
    display: none;
    font-size: 1.4rem;
    color: #c5c5c5;
    text-align: justify;

}

.img-text:hover>span {
    display: block;
}

.line {
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
}

.image-cover-of-header {
    justify-content: space-between;
    background: #00000070;
}

.image-cover-of-header>.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


.image-cover {
    background: #00000081;
}

.info-containar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: var(--10p);
    border: rgb(0, 183, 255) 1px solid;
}

.info-image,
.info-content {
    width: 100%;
    height: 100%;
    border: red 1px solid;
}

.request-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* background: #24242b; */
    padding: 7rem;
}

.request-form>h2 {
    margin-bottom: var(--10p);
}

.forms {

    border: red solid 1px;

}

.input {
    padding: var(--15p);
    width: 25rem;
}

.forms-container {
    border-radius: 5px;
    background-color: #05050583;
    padding: 20px;
    max-width: 40%;
}

input[type=text],
input[type=email],
input[type=tel],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contato {
    padding: var(--10p) 0;
    height: 20vh;
    transition: 500ms;
}

.contato-container {
    display: flex;
    background: #24242b;
    height: 100%;
}

.contato-info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 50%;
    padding: 0.5rem;
}

.mail-logo,
.faceb,
.inst {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.mail-logo>div {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.mail-logo>div>img {
    width: 100%;
    height: 100%;
}

.contato-socia {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 50%;
    padding: 0.5rem;
}

.sobre-wrapper,
.sobre-wrapper-only {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sobre-wrapper-only {
    width: 50%;
}

/* .faceb,
.inst {
    display: flex;
    align-items: center;
    cursor: pointer;
} */

.inst-logo,
.faceb-logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.inst-logo>img {
    width: 100%;
    height: 100%;
}

.faceb-logo {
    border-radius: 10px;
    overflow: hidden;

}

.faceb-logo>img {
    width: 100%;
    height: 100%;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    background-color: #24242b;
}

.nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nos-img-container {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
}

.nos>span {
    padding: var(--10p);

}

.footer {
    height: 10vh;
    background: #24242b;
}


@media only screen and (max-width: 770px) {
    .navigators {
        flex-direction: column;
    }

    .input-containar-1,
    .input-containar-2,
    .input-containar-3 {
        width: 100%;
    }

    /* .navbar{
    position:sticky;

    } */

    .sobre-container {
        flex-direction: column;
        height: fit-content;
        padding: 2rem 0;
    }

    .solucao {
        flex-direction: column;
        padding: 1rem 0;
        height: 50rem;

    }

    /* .sobre-wrapper{
        flex-direction: ;
    } */
    .image-cards-containar {
        flex-direction: column;
        height: fit-content;
        padding: 0.5rem;

    }

    .image-card-1,
    .image-card-2,
    .image-card-3 {
        height: 50rem;
    }

    .request-form {
        background-color: #000000af;
        margin: 1rem 0 0 0;
        padding: 0;
        width: 100%;
    }

    .forms-container {
        max-width: 100%;
    }

    .contato-container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-bottom: 1rem;
    }

    .contato-info,
    .contato-socia {
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 1rem 1.5rem;

    }

    .footer {
        height: fit-content;
        padding: 2rem;
        margin-top: 1rem;
    }
}

/* .info-content {
    width: 100%;
    border: red 1px solid;

} */