/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --2p: 2px;
    --5p: 5px;
    --15p: 15px;
    --10p: 30px;
    --side-padding: 8rem;
}

html {
    background-image: url('../img/cool-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #00000070;
    
}

body {
    /* font-family: 'montserrat', sans-serif; */
    color: #fff;
}

a {
    text-decoration: none;
    font-size: 1rem;
    padding: 0 var(--15p);
    color: #fff;
}

a:hover>div,
.mail-logo:hover,
.faceb:hover,
.inst:hover {
    color: orange;
    height: 1.2rem;
    font-size: 1.2rem;
    transition: font-size 100ms;
}

.navbar {
    --_bg: #09073338;
    --_blur: blur(8px);
    --_nav-bar-padding: .3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--_nav-bar-padding) 5rem;
    width: 100%;
    background: var(--_bg);

    position: fixed;
    top: 0;

}

.navbar {
    transition: 300ms;
}

.navbar.sticking {
    --_bg: #2c2c2eec;
    box-shadow: 3px 3px 6px 0 rgba(3, 3, 3, 0.212) !important;

    /* --_nav-bar-padding: 0.2rem; */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 900;
    height: 100%;
}

.logo-image img {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin-right: var(--15p); */
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 10px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.navigators {
    display: flex;
    padding: 1px;
}




.home {}

.sobre {}

.containar {}

.input-containar-1,
.input-containar-2,
.input-containar-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 70vh;
}

.input-containar-2,
.input-containar-3 {
    margin: var(--10p) 0rem;}

.input-containar-1 {
    background-image: url('../img/capa2.png');
    height: 60vh;

}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-text>h1 {
    font-size: 3rem;
}

.header-text>span {
    font-size: 2rem;
}

.helps{
    padding: 1.5rem 0;
}

.helps>span{
    padding-right: 0.3rem;
    font-weight: 700 !important;
}

.solucao {
    display: flex;
    width: 100%;
    height: 60vh;
    padding: var(--10p) 10rem;
}

.img-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}
.img-w{
    width: 100%;
}
.img-h{
    height: 100%;
    object-position: center,right;

}
.solucao>.img-container {
    width: 100%;
    height: 100%;
    background-image: url(../img/Enegialimpa.jpg);
}

.solucao-text {
    height: 100%;
    width: 100%;
    /* background: #000000b0; */
    padding: 2rem 1rem;
    overflow: hidden;
}

.solucao-text>h2 {
    margin-bottom: 1rem;
}

.solucao-text>p {
    font-size: 1.2rem;
}

.input-containar-2 {
    background-image: url('../img/Dashboard.png');
    height: 90vh;
}

.input-containar-3 {
    background-image: url('../img/Sistemainteligente.png');
    justify-content: end;
    color: #000;
    height: 90vh;
}

.input-containar-3>.sistema-inte-text, .input-containar-4>.modular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10rem;
    
}

.input-containar-3>.sistema-inte-text >h2,.input-containar-4>.modular>h2 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.input-containar-3>.sistema-inte-text >p, .input-containar-4>.modular>p{
    text-align: justify;
}

.input-containar-4 {
    display: flex;
    /* flex-direction: column; */
    background-color: #fff;
    align-items: center;
    color: #000;
    height: 90vh;
}
.input-containar-4>.modular {
   
}
.input-containar-4>.modular>h2 {

}
.p-10{
    padding-left: 10rem !important;
}
.image-cards-containar {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: var(--10p) var(--side-padding);
}

.image-container{
    height:100% ;
    width: 100%;
    overflow: hidden;
}

.image-container> img{
    object-position: center, top;
}

.image-card-1,
.image-card-2,
.image-card-3 {
    margin: var(--5p);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
}

.image-card-1 {
    background-image: url(../img/solar-card.png);

}

.image-card-2 {
    background-image: url(../img/controller-card.png);

}

.image-card-3 {
    background-image: url(../img/eolic-card.png);

}

.image-cover-of-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-cover {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
}

.image-cover:hover>.img-text {
    height: 100%;
}


.img-text {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    padding: 1.5rem 1rem 4rem 1rem;
    background: #0000008a;
}

.img-text,
.img-text>span {
    transition: 500ms;
}

.img-text>h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.img-text>p {
    font-size: 1.2rem;
    color: #c5c5c5;

}

.img-text>span {
    display: none;
    font-size: 1.4rem;
    color: #c5c5c5;
    text-align: justify;

}

.img-text:hover>span {
    display: block;
}

.line {
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 1rem 0;
}

.image-cover-of-header {
    justify-content: space-between;
    background: #00000070;
}

.image-cover-of-header>.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


.image-cover {
    background: #00000081;
}

.info-containar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: var(--10p) 5rem;
}
.deshboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;

}
.deshboard > h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
}

.deshboard > p{
    /* text-align: center; */
    font-size: 1.2rem;
    padding: 2rem;
}



.info-image,
.info-content {
    width: 100%;
    height: 100%;
    border: red 1px solid;
}
.image-cover-of-header{
}

.request-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    /* background: #24242b; */
    padding: 7rem;
}

.request-form>h2 {
    margin-bottom: var(--10p);
}

.forms {

    border: red solid 1px;

}

.input {
    padding: var(--15p);
    width: 25rem;
}

.forms-text {
    border-radius: 10px 10px 0px 0px;
    background-color: #05050583;
    padding: 20px;
    width: 40%;

}

.forms-text>div {
    text-align: center;
    width: 100%;
}

.forms-container {
    border-radius: 0px 0px 10px 10px;
    background-color: #05050583;
    padding: 20px;
    width: 40%;
}


.forms-container>.sucesso {
    text-align: center;
    color: #45a049;
    padding: 2rem 0;
}

input[type=text],
input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contato {
    padding: var(--10p) 0;
    height: 20vh;
    transition: 500ms;
}

.contato-container {
    display: flex;
    background: #24242b;
    height: 100%;
}

.contato-info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 50%;
    padding: 0.5rem;
}

.mail-logo,
.faceb,
.inst {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.mail-logo>div {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.mail-logo>div>img {
    width: 100%;
    height: 100%;
}

.contato-socia {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 50%;
    padding: 0.5rem;
}

.sobre-wrapper {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
}

.sobre-wrapper-only {
    width: 50%;
}

/* .faceb,
.inst {
    display: flex;
    align-items: center;
    cursor: pointer;
} */

.inst-logo,
.faceb-logo {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.inst-logo>img {
    width: 100%;
    height: 100%;
}

.faceb-logo {
    border-radius: 10px;
    overflow: hidden;

}

.faceb-logo>img {
    width: 100%;
    height: 100%;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    background-color: #24242b;
}

.nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nos-img-container {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.nos-img-container>img {
    width: 100%;
}

.nos>p {
    padding-top: .7rem;
    font-weight: 700;

}

.nos>span {
    color: #8f8e8e;
    padding-top: .3rem;
    padding-bottom: 2.5rem;


}

.mobile{
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background: #24242b;
}
.footer>span {
    font-size: 1.5rem;
}

@media only screen and (max-width: 770px) {
    .mobile{
        display: flex;
    }
    .desktop{
        display: none !important;
    }
    .p-10{
        padding: 0.5rem !important;
    }
    .info-containar,.input-containar-4 {
        flex-direction: column;
        height: 50rem;
        padding: var(--10p) 0;
    }
    .deshboard>h2{
        font-size: 1.8rem;
    }

    .deshboard>p{
        text-align: justify;
    }

    .menu-button-container {
        display: flex;
        z-index: 2;
    }

    .navigators {
        position: absolute;
        top: 0;
        margin-top: -60px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.navigators a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.navigators{
        margin-top: 0px;
        padding-top: 60px;
        background-color: #29292bef;

        /* height: calc(100vh - 20vh); */
        transition: margin-top 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }

    #menu-toggle:checked~.navigators a {
        /* border: 1px solid #333; */
        height: 6.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .navigators>a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
    }

    .navigators>a:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .input-containar-1,
    .input-containar-2,
    .input-containar-3 {
        width: 100%;
    }

    /* .navbar{
    position:sticky;

    } */

    .sobre-container {
        flex-direction: column;
        height: fit-content;
        padding: 2rem 0;
    }

    .solucao {
        flex-direction: column;
        padding: 1rem 0;
        height: 50rem;

    }

    /* .sobre-wrapper{
        flex-direction: ;
    } */
    .image-cards-containar {
        flex-direction: column;
        height: fit-content;
        padding: 0.5rem;

    }

    .image-card-1,
    .image-card-2,
    .image-card-3 {
        height: 50rem;
    }

    .request-form {
        margin: 1rem 0 0 0;
        padding: 0;
        width: 100%;
    }

    .header-text>h1{
        font-size: 1.9rem;
        font-weight: 800;
        padding-bottom: 2rem;
    }
    .header-text>span{
        font-size: 1.5rem;
    }

   

    .forms-text{
        width: 100%;
    }
    .forms-container {
        width: 100%;
    }

    .contato-container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        margin-bottom: 1rem;
    }


    .contato-info,
    .contato-socia {
        justify-content: space-between;
        align-items: start;
        width: 100%;
        padding: 1rem 1.5rem;

    }

    .footer {
        height: fit-content;
        padding: 2rem;
        margin-top: 1rem;
    }
}

/* .info-content {
    width: 100%;
    border: red 1px solid;

} */