* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --2p: 2px;
    --10p: 30px
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: red 1px solid;

}

.logo {
    border: 1px blue solid;
}

.navigators {
    display: flex;
    padding: 1px;
    border: rgb(22, 241, 15) 1px solid;
}

.home {
    padding: 0 var(--2p);
}

.sobre {
    padding: 0 var(--2p);
}

.containar {
    border: red 1px solid;
}

.input-containar {
    height: 80vh;
    border: blue 1px solid;
}

.image-cards-containar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    border: violet ipx solid;
}

.image-card {
    width: 100%;
    height: 100%;
    border: rgb(255, 0, 98) 1px solid;
}

.info-containar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: var(--10p);
    border: rgb(0, 183, 255) 1px solid;
}

.info-image,
.info-content {
    width: 100%;
    height: 100%;
    border: red 1px solid;
}

/* .info-content {
    width: 100%;
    border: red 1px solid;

} */